* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto Mono", Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    width: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
    letter-spacing: 0.05em;
    word-spacing: 0.08rem;
    font-weight: 300;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover,
.navbar-toggler-icon:visited{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    font-size: 18px;
   margin-top: -4px;
}
.nav-link,.home{
    font-size: 15px;
    font-weight: 900 !important;
}
.home:visited{
    color: #186ca0 !important;
}
.login-btn:hover{
    cursor: pointer;
}
.login-btn{
    font-size: 19px;
}
nav.navTransform{
    padding: .06rem !important;
    transition: .4s;
}
nav{
    transition: .4s;

}
nav.navTransform{
    padding: .06rem 0 !important;
    background: black !important;
    
}
nav.navTransform {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }


/* login_form */


.login-form{
    position: fixed;
    top: 0; left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, .8);
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.container1 .form{
    display: flex;
    align-items: center;
    height: 420px;
    transition: height 0.2s ease;
}


.container1 .form{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.link-btn{
    transition: all 1s ease;
}
.input-field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    border-top: 2px solid transparent;
    transition: all 0.8s ease;
}
.input-field input:focus{
    border-color: #5f616486 !important;
}

.signUp-form{
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.09s ease;
    
}
.rotate .signIn-form{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.rotate .signUp-form{
    display: flex;
    opacity: 1;
    transition: opacity 0.2s ease;
}



.rotate .signIn-form{
    height: 5150px;
}

.v{
    display: flex;
}
.v1{
    display: none;
}
@keyframes amimation_form {
    0%{
        transform: translateY(-3rem);
        opacity: 0;
    }    
}
.container1 form{
    width: 24rem;
    padding:1rem .7rem;
    border-radius: 5px;
    background: white;
    text-align: center;
    position: relative;
    animation: amimation_form .5s linear;
}
.login-form h3{
    padding: .3rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.box{
    width: 100%;
    height: 3.2rem;
    padding: 1rem 1rem;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 8px;
    margin: .4rem 0;
}
.flex{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .3rem 0;
}
.flex label{
    cursor: pointer;
    margin-bottom: 0;
}
.flex a{
    font-size: .7rem;
    margin-left: auto;
    text-decoration: none;
}
.flex a:hover{
    text-decoration: underline !important;
}
.link-btn{
    border-radius: 4px;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 1.5rem;
    display: inline-block;
    background: none;
    cursor: pointer;
}
.link-btn:hover{
    background-color: #EBE6DC;
    transition: .5s;
}
.account{
    padding: .6rem .5rem;
    font-size: .8rem;
    color: #000 !important;
    font-weight: 600;
    background: rgba(128, 128, 128, 0.124);
}
.account a{
    text-decoration: none;
    font-weight: 100;
    color: #1b89b1;
}
.account a:hover{
    text-decoration: underline;
}
#close-login-form{
    position: absolute;
    top: -3rem; right: 0rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}
#close-signUp-form{
    position: absolute;
    top: -3rem; right: 0rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}




.banner-image{
    background-image: url(https://img.freepik.com/photos-gratuite/bel-arbre-au-milieu-champ-couvert-herbe-limite-arbres-arriere-plan_181624-29267.jpg?w=2000);
    filter: brightness(80%);
    filter: contrast(108%);
    background-size: cover;
    height: 80vh;
    background-position: center top;
    width: 100%;
    
    background-repeat: no-repeat;
   
}
.navbar-brand img{
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.nav{
    transition: .3s all ease;
}
.h1_home{
    margin-top: 80px;
    font-size: 50px;
}
.large {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    max-width: 530px;
    line-height: 29px;
    margin-top: 20px;
    color: white;
}
.img_set{
    margin-top: 85px;
    margin-bottom: 85px;
    margin-right: 0;
}
.inline img {
    height: 100%;
    max-height: 360px;
    width: 100%;
    max-width:210px;
    border: 0;
    display: inline;
}

@media  (max-width: 992px) {
    .inline img {
        max-width: 270px;
    }
  }
  @media (min-width: 768px) {
    .inline img {
        max-width: 270px;
    }
  }



.p_descp{
    max-width: 480px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}
.word_space{
    word-spacing: 9px;
}
/* btnScroll */
#btnScrollTop{
    position: fixed;
    background: transparent;
    right: 10px;
    bottom: 700px;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#btnScrollTop.active{
    bottom: 10px;
    visibility: visible;
    opacity: 1;
}
.row.icon_img{
    width: 80px;
    height: 80px;
    text-align: center;
}
.row.icon_para{
    max-width: 200px;
    width: 100%;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;    font-size: 0.9rem;
}
  
.social-link:hover,
.social-link:focus {
background: #ddd;
text-decoration: none;
color: #555;
}
.map{
    height: 360px;
    width: 100%;
    margin-top: 13px;
}


form {  
    margin:0px auto; 
    padding-top: 0;
    width: 85%;
}
.feedback-input{
    color:#fff !important;}
.feedback-input {
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #fff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  color:#fff !important;
}

.feedback-input:focus { 
    border:1px solid #70D1F6; 
    transition: .8s;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:none;
}
/* .send input{
  width: 100%;
  background:#fff;
  border-radius:5px;
  border: 1px solid #000;
  cursor:pointer;
  color:black;
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight: 600;
}
[type="submit"]:hover { 
    background:#bc6c2a; 
} */
.send-button {
    border: 1px solid #fff;
    height: 45px;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.send-button.alt-send-button{
      width: 100%;
}
.alt-send-button {
    margin-top: 5px;
    height: 45px;
    transition: all .5s ease-in-out;
}
.send-text {
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}
.alt-send-button:hover {
    transform: translate3d(0px, -39px, 0px);
}
.send-button:hover{
    background: #70D1F6;
    transition: 1.5s;}
.social_contact_child{
    font-size: 20px;
    line-height: 52px;
    justify-self: center;
    align-items: center;
}

.feedback-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

#insta{
    color: #fb3958	; 
}
.dark_mode{
    border-radius: 80%;
    font-size: 17px;
    color: #000 !important;
    padding-top: 1px;
    font-weight: 600;
    background-color: #fff;
}
.dark_mode:hover{
    cursor: pointer;
}
.mode{
    width: 21px;

}
.night{
    margin-bottom: 2px;
}
.newspaper input{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 214, 228);
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 25rem;
    outline: 0px;
    padding: 0px 16px;
    font-size: 14px;
    height: 48px;
    line-height: 21px;
}

.newspaper input:focus{
    border: 1px solid #5FBBE8 ;
}
.newspaper{
    margin-top: 70px;
    padding-top: 100px ;
    padding-bottom: 100px ;
    
}
.newspaper button{
    align-items: center;
    background: #5FBBE8;
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: auto;
    height: 48px;
    font-size: 14px;
    padding: 0px 24px;
    line-height: 54px;
}
.background_2{
    background-image: url(https://img.freepik.com/photos-gratuite/bel-arbre-au-milieu-champ-couvert-herbe-limite-arbres-arriere-plan_181624-29267.jpg?w=2000);
    
    background-size: cover;
    background-position: center top;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.footer {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    ;
}
.footer_txt{
    max-width: 300px;
    color: #fff;
}
.footer h5{
    color: #fff;
    padding-bottom: 13px;
    background-image: linear-gradient(#5FBBE8,#5FBBE8, #5FBBE8);
    background-repeat: no-repeat;
    background-size: 100% 4px;  
    background-position: left bottom 3px;
    
}
@media  (max-width: 768px) {
    .footer h5 {
        max-width: 370px;
    }
  }
  @media (min-width: 768px) {
    .footer h5 {
        max-width: 250px;
    }
  }


.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
  }
  .socialbtns a{
      text-decoration: none;
  }
  
  .socialbtns li {
      display: inline-block;
  }

  .socialbtns .fi {
      width: 22px;
      height: 20px;
      padding: 7px;
      color: #fff;
      background-color: #645e59;
      border: 0px solid #000;
      border-radius: 25px;
  }
  
  .socialbtns .fi:hover {
      color: #FFF;
      background-color: #5FBBE8;
      cursor: pointer;
      transition: .7s;
  }
  
.nav_footer li{
    display: inline !important;
}
.footer_link a{
    text-decoration: none;

}
.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.text_dark_mode{
    color: white ;
    background-color: #000;
}


  .blog-slider {
    width: 100%;
    position: relative;
    max-width: 800px;
    margin-right: 0;
    margin-top: -100px;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 320px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
   }
 }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
   }
 }
  .blog-slider__item {
    display: flex;
    align-items: center;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
   }
 }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
 }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #5FBBE8 0%, #5FBBE8 74%);
    box-shadow: 4px 13px 30px 1px #5FBBE8;
    border-radius: 20px;
    transform: translateX(-80px);
 }
  .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
 }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
   }
 }
  .blog-slider__content {
    padding-right: 25px;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
   }
 }
  .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
 }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
 }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
 }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
 }
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg,#EFE6DC  0%, #5FBBE8 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px #F4ECE4;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
 }
  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
   }
 }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
 }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
 }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
   }
 }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
 }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #5FBBE8;
    height: 30px;
    box-shadow: 0px 0px 20px #5FBBE8;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
   }
 }



 .img1Png{
    width: 530px;
    margin: 0;
    padding: 0;
    height: 460px;
 }


 @media screen and (min-width: 768px) {
    .lben_text{
        margin-top: -210px;
    }
 }
 @media screen and (max-width: 768px) {
    .img1Png{
        margin-top: -150px;
    }
 }


.foul{
    color: #5C97C3;
}

